<header class="page-header" role="banner">
  <h1>Authorize required</h1>
</header>

<main role="main">
  <p class="h4">
    Authorize <strong class="text-info"><%= @pre_auth.client.name %></strong> to use your account?
  </p>

  <% if @pre_auth.scopes %>
    <div id="oauth-permissions">
      <p>This application will be able to:</p>

      <ul class="text-info">
        <% @pre_auth.scopes.each do |scope| %>
          <li><%= t scope, scope: [:doorkeeper, :scopes] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form_tag oauth_authorization_path, method: :post do %>
      <% @pre_auth.hidden_fields.each do |key, val| %>
        <%= hidden_field_tag key, val %>
      <% end %>
      <%= submit_tag "Authorize", class: "btn btn-success btn-lg btn-block" %>
    <% end %>
    <%= form_tag oauth_authorization_path, method: :delete do %>
      <% @pre_auth.hidden_fields.each do |key, val| %>
        <%= hidden_field_tag key, val %>
      <% end %>
      <%= submit_tag "Deny", class: "btn btn-danger btn-lg btn-block" %>
    <% end %>
  </div>
</main>
