<div class="span16">
  <h2>Authorize <%= @authorization.client.name %> to use your account?</h2>
</div>

<div class="span16">
  <% if @authorization.scopes %>
  <p>
    This application will be able to:
  </p>
  <ul>
    <% @authorization.scopes.each do |scope| %>
      <li><%= t scope, :scope => [:doorkeeper, :scopes]  %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="inline_block">
    <%= form_for @authorization, :as => :authorization, :url => authorization_path, :method => :post do |f| %>
      <%= f.hidden_field :client_id %>
      <%= f.hidden_field :redirect_uri %>
      <%= f.hidden_field :state %>
      <%= f.hidden_field :response_type %>
      <%= f.hidden_field :scope %>
      <%= f.submit "Authorize", :class => "btn success" %> or
    <% end %>
  </div>
  <div class="inline_block">
    <%= form_for @authorization, :as => :authorization, :url => authorization_path, :method => :delete do |f| %>
      <%= f.hidden_field :client_id %>
      <%= f.hidden_field :redirect_uri %>
      <%= f.hidden_field :state %>
      <%= f.hidden_field :response_type %>
      <%= f.hidden_field :scope %>
      <%= f.submit "Deny", :class => "btn" %>
    <% end %>
  </div>
</div>
