<div class="span16">
  <h2>Authorize <%= @authorization.client.name %> to use your account?</h2>
</div>

<div class="span16">
  <% if @authorization.scopes %>
  <p>
    This application will be able to:
  </p>
  <ul>
    <% @authorization.scopes.each do |scope| %>
      <li><%= scope.description %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="inline_block">
    <%= form_tag authorization_path do %>
      <%= hidden_field_tag :client_id, @authorization.client_id %>
      <%= hidden_field_tag :redirect_uri, @authorization.redirect_uri %>
      <%= hidden_field_tag :state, @authorization.state %>
      <%= hidden_field_tag :response_type, @authorization.response_type %>
      <%= hidden_field_tag :scope, @authorization.scope %>
      <%= submit_tag "Authorize", :class => "btn success" %> or
    <% end %>
  </div>
  <div class="inline_block">
    <%= form_tag authorization_path, :method => :delete do %>
      <%= hidden_field_tag :client_id, @authorization.client_id %>
      <%= hidden_field_tag :redirect_uri, @authorization.redirect_uri %>
      <%= hidden_field_tag :state, @authorization.state %>
      <%= hidden_field_tag :response_type, @authorization.response_type %>
      <%= hidden_field_tag :scope, @authorization.scope %>
      <%= button_tag "Deny", :class => "btn" %>
    <% end %>
  </div>
</div>
