<!DOCTYPE html>
<html>
<head>
  <title>Doorkeeper</title>
  <%= stylesheet_link_tag    "doorkeeper/application" %>
  <%= javascript_include_tag "doorkeeper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="main" class="container">
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <span class="brand">
            OAuth2 Provider
          </span>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <% flash.each do |key, message| %>
          <div class="span16">
            <div class="alert-message <%= key %>" data-alert><a class="close" href="#">×</a><p><%= message %></p></div>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </section>
</body>
</html>
